@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#__nuxt {
  @apply w-full h-full scroll-smooth;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

*:focus {
  outline: none;
}